spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/release_tracker_db
    username: admin
    password: admin
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8080/realms/neon