server:
  port: 8080
  servlet:
    context-path: /release_tracker/api

management:
  server:
    port: 8081
  endpoints:
    web:
      exposure:
        include: health,info,metrics

spring:
  application:
    name: release-tracker
  jackson:
    default-property-inclusion: non_null
    serialization:
      write-dates-as-timestamps: false
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

app:
  timezone: Europe/Belgrade
